.home {
    background-image: url('/assets/me.jpg');
    display: grid;
    padding-top: 10px;
    background-color: gray;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(autofit, minmax(400px, 1fr));
    grid-gap: 15px;
}
 
.list-group {
    vertical-align: middle;
}

.list-group-item {
    background-color: transparent;
}

.jumbotron {
    background-color: transparent;
}

.hi {
    font-size: 50px;
    color: white;
}

.based {
    color: #e9ecef;
}