.home {
    background-color: #f0f4f7;
    display: grid;
    padding-top: 10px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 15px;
    min-height: 450px;
}

.me {
    margin-top: 40px;
    border: 2px solid;
    border-radius: 10px;
    max-width: 500px;
}

.jumbotron {
    background-color: transparent;
    margin-top: 40px;
}

.hi {
    font-size: 50px;
    color: black;
}

.jumbotron > p {
    color: black;
    margin: 0;
}

.jumbotron {
    column-span: 2;
}