@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
html {
  scroll-behavior: smooth;
  scroll-padding-top: 85px;
}
body {
  background-color: white;
}

.page-name {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  text-decoration: underline;
  padding-top: 30px;
}

